yarl<1.2
aiofiles
# aiomultiprocess
# aiosqlite
# cached_property
uvloop==0.9.1
aiohttp==3.2.1
# Someone forgot to add this in.
asyncpg
# Music cog requirements
opuslib
dataclasses
PyNaCl
youtube_dl
# Duh!
git+https://github.com/rapptz/discord.py@rewrite
